# Archivos de compilación
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Archivos de usuario de Visual Studio
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Carpeta .vs
.vs/

# Archivos de compilación específicos
*.db
*.opendb
*.db-shm
*.db-wal

# Archivos de IDE
.vscode/
.idea/

# Archivos del SO
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.temp

# Archivos de prueba local
TestResults/

# NuGet
.nuget/
packages/
*.nupkg
*.snupkg

# dotnet
project.lock.json
project.fragment.lock.json
artifacts/
.dotnet/

# Archivos de build
*.plg
*.aps
*.ncb
*.vcb
*.scc

# Resultados de pruebas
*.trx
*.coverage
